<!--The content below is only a placeholder and can be replaced.-->


<p-tabView>
    <p-tabPanel header="Gym Subscriptions" [headerStyle]="{'border': '1px solid', 'border-bottom-style': 'none', 'margin-left': '55px'}">
        <app-account-management></app-account-management>
    </p-tabPanel>

    <p-tabPanel header="Transaction Details " [headerStyle]="{'border': '1px solid', 'border-bottom-style': 'none'}" [selected]="false">
        <app-transaction-details></app-transaction-details>
    </p-tabPanel>


</p-tabView>