<div class="ui-g">
  <p-panel header="Gym Balance Sheet" class="ui-g-3 ui-g-nopad" [style]="{'margin-left':'5px', 'border-radius': '10px'}">
    <div class="ui-grid-row">
      <label class="ui-g-8">Total Amount Credited<span style="float:right">:</span></label>
      <label class="ui-g-4">{{totalCreditedAmount}}</label>

      <label class="ui-g-8">Total Amount Debited<span style="float:right">:</span></label>
      <label class="ui-g-4">{{totalDebitedAmount}}</label>

      <label class="ui-g-8">Balance Amount <span style="float:right">:</span></label>
      <label class="ui-g-4">{{balanceAmount}}</label>

    </div>
  </p-panel>
</div>